In [12]:
# Importing Sqlite in python 3.0
import sqlite3
# Connection of sqlite with python and creating own database named movies
conn = sqlite3.connect('movies.db')
print ("Opened database successfully");

Opened database successfully

In [13]:
#create a table in the previously created database as movies

conn.execute('''CREATE TABLE MOVIES
         (NAME varchar(10) NOT NULL PRIMARY KEY,
         ACTOR varchar(30) NOT NULL,
         ACTRESS varchar(30),
         DIRECTOR varchar(10) NOT NULL,
         ReleaseDate DATE NOT NULL);''')
print ("Table created successfully");

conn.close()

OperationalError: table MOVIES already exists

In [14]:
conn = sqlite3.connect('movies.db')
print ("Opened database successfully");
#Insert records in the MOVIES table created above

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('Gladiator', 'Russell Crowe', 'Oliver Reed', 'Ridley Scott', '2000' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('The Mummy', 'Tom Cruise', 'Annabelle Wallis', 'Alex Kurtzman', '2017' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('3 Idiots', 'Aamir Khan', 'Kareena Kapoor', 'Rajkumar Hirani', '2011' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('Shershaah', 'Siddharth Malhotra', 'Kiara Advani', 'Vishnuvardhan', '2021' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('MI2', 'Tom Cruise', 'Thandiwe Newton', 'Ethan Hunt', '2000' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('Searching', 'John Cho', 'Debra Messing', 'Aneesh Chaganty', '2018' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('Spectre', 'James Bond', 'Léa Seydoux', '	Sam Mendes', '2015' )");

conn.execute("INSERT INTO MOVIES (NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate) \
      VALUES ('American Made', 'Tom Cruise', 'Sarah Wright Olsen', 'Doug Liman', '2016' )");


conn.commit()
print ("Records created successfully");
conn.close()

Records created successfully

In [28]:
# query the movie details (name, actor, actress, director, year of release) using a SELECT statement

conn = sqlite3.connect('movies.db')
print ("Opened database successfully");
cursor = conn.execute("SELECT NAME,ACTOR,ACTRESS,DIRECTOR,ReleaseDate from MOVIES")
for row in cursor:
   print ("NAME = ", row[0])
   print ("ACTOR = ", row[1])
   print ("ACTRESS = ", row[2])
   print ("DIRECTOR = ", row[3])
   print ("ReleaseDate = ", row[4]) 
    print("\n")
print ("Operation done successfully")
conn.close()

Opened database successfully
NAME =  Gladiator
ACTOR =  Russell Crowe
ACTRESS =  Oliver Reed
DIRECTOR =  Ridley Scott
ReleaseDate =  2000


NAME =  The Mummy
ACTOR =  Tom Cruise
ACTRESS =  Annabelle Wallis
DIRECTOR =  Alex Kurtzman
ReleaseDate =  2017


NAME =  3 Idiots
ACTOR =  Aamir Khan
ACTRESS =  Kareena Kapoor
DIRECTOR =  Rajkumar Hirani
ReleaseDate =  2011


NAME =  Shershaah
ACTOR =  Siddharth Malhotra
ACTRESS =  Kiara Advani
DIRECTOR =  Vishnuvardhan
ReleaseDate =  2021


NAME =  MI2
ACTOR =  Tom Cruise
ACTRESS =  Thandiwe Newton
DIRECTOR =  Ethan Hunt
ReleaseDate =  2000


NAME =  Searching
ACTOR =  John Cho
ACTRESS =  Debra Messing
DIRECTOR =  Aneesh Chaganty
ReleaseDate =  2018


NAME =  Spectre
ACTOR =  James Bond
ACTRESS =  Léa Seydoux
DIRECTOR =  	Sam Mendes
ReleaseDate =  2015


NAME =  American Made
ACTOR =  Tom Cruise
ACTRESS =  Sarah Wright Olsen
DIRECTOR =  Doug Liman
ReleaseDate =  2016


Operation done successfully

In [41]:
#query with parameter like actor name to select movies based on the actor's name

conn = sqlite3.connect('movies.db')
print ("Opened database successfully");
cursor = conn.execute("SELECT NAME,ACTOR from MOVIES where ACTOR LIKE '%Tom%' ;")
for row in cursor:
   print ("NAME = ", row[0])
   print ("ACTOR = ", row[1])
   print("\n") 
print ("Operation done successfully")
conn.close()

Opened database successfully
NAME =  The Mummy
ACTOR =  Tom Cruise


NAME =  MI2
ACTOR =  Tom Cruise


NAME =  American Made
ACTOR =  Tom Cruise


Operation done successfully

## Thanks & Regards Pratik Shukla